.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

.modal-content {
    background: #D2C1B6;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    color: #1B3C53;
}

.modal-content h3 {
    margin-bottom: 15px;
}

.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}

.modal-content button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background: #234C6A;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}