.boleto_de_Fornecedor{
background-color: #3f5f78;
width: 350px;
height: 350px;
padding: 25px;
border-radius: 15px;
margin: 40px auto;
box-shadow: #090909 5px 5px 10px;

}

form label{
color: white;
font-weight: bold;
margin-top: 10px;
display: flex;
align-items: center;
}

form input{
width: 100px;
padding: 8px;




}
label{
display: flex;
align-items: center;
}