.boleto_de_Fornecedor {
    background-color: #3f5f78;
    width: 90%;             
    max-width: 350px;       
    height: auto;         
    padding: 25px;
    border-radius: 15px;
    margin: 40px auto;
    box-shadow: #090909 5px 5px 10px;
    text-align: end;
    box-sizing: border-box; }

form label {
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 10px;
    display: flex;
}

form input {
    width: 100%;         
    max-width: 100px;     
    padding: 8px;
    box-sizing: border-box;
}



button{
 display: block;
    margin: 20px auto 0 auto; 
    width: 90%;
    max-width: 350px;
    padding: 10px;
    border-radius: 20px;
}
BUTTON:hover{
    transform: scale(1.05);
    background-color: white;
    transition: 0.5s;
}