.boleto_de_Fornecedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    width: 90%;
    margin: 40px auto;
    padding: 10px;
    box-sizing: border-box;
}

/* ======== CARD DO BOLETO ======== */
.form-container {
    background: linear-gradient(to bottom, #456882 ,#234C6A );
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(27, 60, 83, 0.6) 5px 5px 12px;
    color: #000;
    text-align: center; 
    font-size: 1.2rem;  
    transition: transform .2s ease;
    
}

.form-container:hover {
    transform: scale(1.03);
}

/* ======== BOTÃO PAGAR ======== */
.btn-pagar {
    margin-top: 12px;
    padding: 10px 15px;
    background-color: rgb(35, 76, 106);
    color: rgb(210, 193, 182);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition:  .2s ease;
    box-shadow: 2px 2px 8px #000;
    border: #000 solid 2px; 
}

.btn-pagar:hover {
    background-color: rgb(27, 60, 83);
}


/* ======== MODAL ======== */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-weight: bolder;
}

.hidden {
    display: none;
}

.modal-content {
    background: linear-gradient(to right, #456882 ,#234C6A ); 
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 420px;
    color: #D2C1B6; 
    box-shadow: 4px 4px 12px #000;
}

.modal-content h3 {
    margin-bottom: 15px;
    text-align: center;
    color: #D2C1B6;
    font-weight: bolder;
    
}

.modal-content label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border-radius: 6px;
    border: 2px solid rgb(35, 76, 106);
    background-color: #D2C1B6;
    color: rgb(27, 60, 83);
}

/* Botões do modal */
.modal-content button {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    background: #D2C1B6;
    color: #1B3C53;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: .2s ease, transform .2s ease;
}

.modal-content button:hover {
    background: rgb(27, 60, 83);
    transform: scale(1.03);
    color: #D2C1B6;
}



/* ======== RESPONSIVIDADE ======== */
@media (max-width: 500px) {
    .form-container {
        font-size: 1rem;
        padding: 15px;
    }
}



