
header{
    background-color: #1B3C53;
    box-shadow: 0px 4px 25px #000;
}
header img{
    width: 100px;
    height: 50%;
    margin-left: 5%;  
}
#menu {
display: flex;
align-items: center;
justify-content: center;
}

body{
    background-color: #D2C1B6;
}

header img{
 background-color: #D2C1B6;
 border-radius: 33px;
 border: #000 solid;
 margin-bottom: 0.5%;
 margin-top: 0.5%;
}

header ul {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    gap : 15%;
    align-items: center;
    margin-right: 5%;
    
    
}
header ul li a{
    text-decoration: none;
    color: #456882;
    font-size: 20px;
    background-color: #D2C1B6;
    padding: 15px;	
    border-radius: 25px;
    text-shadow: 0px 5px 10px #D2C1B6;
    box-shadow: inset 3px 3px 20px #000;
    

}


header ul li h2{
    color: #234C6A;
    font-size: 25px;
    background-color: #D2C1B6;
    padding: 15px;	
    border-radius: 25px;
    box-shadow: 3px 3px 20px #000;


}
header ul li a:hover{
    color: #1B3C53;
    transition: 0.5s;
    box-shadow: 3px 3px 20px #000;
    background: color-mix(in srgb, #456882 30%, #D2C1B6 70%);
}

