header {
    background-color: #1B3C53;
    box-shadow: 0px 4px 25px #000;
    padding: 10px 5%;
    box-sizing: border-box;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 60px;

}

header img {
    width: 80px; 
    height: auto;
    background-color: #D2C1B6;
    border-radius: 33px;
    border: 2px solid #000;
    margin: 0;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 30px; 
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
    flex-wrap: nowrap; 
}

header ul li a {
    text-decoration: none;
    color: #456882; 
    font-size: 18px;
    background-color: #D2C1B6;
    padding: 12px 15px;
    border-radius: 25px;
    text-shadow: 0px 5px 10px #D2C1B6;
    box-shadow: inset 3px 3px 20px #000;
    transition: 0.3s;
}

header ul li a:hover {
    color: #1B3C53;
    box-shadow: 3px 3px 20px #000;
    background: color-mix(in srgb, #456882 30%, #D2C1B6 70%);
}

header ul li h2 {
    color: #234C6A;
    font-size: 22px;
    background-color: #D2C1B6;
    padding: 12px 15px;
    border-radius: 25px;
    box-shadow: 3px 3px 20px #000;
}


@media (max-width: 768px) {
    header img {
        width: 60px;
        margin-bottom: 10px;
    }

    header ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    header ul li a, header ul li h2 {
        font-size: 16px;
        padding: 10px 12px;
        white-space: nowrap;
    }
}

header ul li {
    margin-bottom: 20px; 
}


header ul li:last-child {
    margin-bottom: 30px;
}
