body {
    background: #1B3C53;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
  }
  
  .pagamento-box {
    background: #D2C1B6;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    color: #1B3C53;
  }
  
  .pagamento-box h2 {
    text-align: center;
    color: #234C6A;
  }
  
  .pagamento-box .total {
    font-weight: bold;
  }
  
  .pagamento-box input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
  }
  
  .pagamento-box button {
    width: 100%;
    padding: 10px;
    background: #234C6A;
    color: #D2C1B6;
    border: none;
    cursor: pointer;
  }